<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" type="text/css" href="/css/main.css">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Post</title>
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <div class="logo">
                <!-- Insert your logo here. -->
                <img src="/images/BBlogo.svg" alt="Logo">
            </div>
            <nav>
                <ul>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/">Homepage</a></li>
                    <li><a href="/addpost">Add a Post</a></li>
                    <li><a href="/mypost">My Post</a></li>
                </ul>
            </nav>
        </div>
        <div class="main-content">
            <!-- The main content of the page will go here. -->
            {{{body}}}
        </div>
    </div>
</body>
</html>


