<h1>Log In</h1>

<div class = "login">
<form id="login-form" class="login-form-container">
    <label for="username-login">Username:</label>
    <p id="error-message" style="color: red;"></p>
    <input type="text" id="username-login" name="username" required>

    <label for="password-login">Password:</label>
    <input type="password" id="password-login" name="password" required>

    <input type="submit" value="Log In">
</form>

<p>Don't have an account? <a href="/users/signup">Sign up</a>.</p> 
</div>
<!-- HTML for login form -->
<script src="/js/login.js"></script>
